*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(184, 108, 38);
}
.hero{
    background-color: white;
}

main{
    background-color: white;
}
footer{
    display:flex;
    justify-content: space-between;
}
.social-container{
    display:flex;
}
.icon-facebook{
background: url(./assets/facebook.png) no-repeat top left;
background-size:32px;
}
.icon-youtube{
background: url(./assets/youtube.png)no-repeat top left;
background-size:32px;
}
.icon-accebility{
    display:flex;
    width:32px;
    height: 32px;
    background-position:0 0
}